@charset "utf-8";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#top {
  position: fixed;
  right: 10px;
  top: 550px;
  font-size: 36px;
  cursor: pointer;
}

#top:active {
  opacity: .6;
}

.container {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid #aaa;
  position: relative;
}

header img {
  margin: 0;
  padding: 8px 32px;
  width: 100px;
  height: 100px;
}

h1 {
  margin: 0;
  font-size: 48px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.header-menu {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 48px;
  cursor: pointer;
}

.header-menu:active {
  opacity: .6;
}

.modal {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.overlay {
  background: #d9e4ee;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 100px;
  transform: translateX(500px);
  transition: transform 1s;
}

.overlay.show {
  transform: none;
}

.overlay #close {
  position: absolute;
  right: 0;
  font-size: 36px;
  cursor: pointer;
}


.overlay ul {
  list-style: none;
  margin: 60px 0;
  padding: 0;
  width: 300px;
}

.overlay li {
  border-bottom: 1px solid #fff;
  padding: 16px;
}


main {
  margin: 16px;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main h2 {
  text-align: center;
  padding: 16px;
}

main iframe {
  width: 100%;
  height: 300px;
}

section {
  border-bottom: 1px solid #aaa;
  margin: 32px 8px;
  padding-bottom: 32px;
}

section p {
  margin: 0;
}

footer {
  margin: 32px;
  height: 200px;
  padding: 32px;
  border-top: 1px solid #aaa;
}

footer h3 {
  text-align: center;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}

@media (max-width : 400px) {
  h1 {
    font-size: 24px;
  }

  header img {
    width: 50px;
    height: 50px
  }

  .header-menu {
    font-size: 32px;
  }

  #top {
    top: 600px;
  }

  main p {
    font-size: 10px;
    line-height: 20px;
  }

  .overlay ul {
    width: 200px;
  }
}